table {
    border-collapse: collapse;
    text-align: center;
}

table, th, td {
    border: 1px solid white;
    text-align: center;
}
th {
	background-color: rgb(66, 244, 125);
	height: 50px;
	width: 150px;
}
td {
	height: 30px;
}
tr:nth-child(even) {
	background: #dee1e2
}
tr:nth-child(odd) {
	background: #FFF
}